
<div class="errorPage">
	<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="error-template">
          <h1 id="broke">404: Oh snap!</h1><br />
          <img src="http://m.memegen.com/jdt5ab.jpg" alt="404, rawrrr">
          <div class="error-details"><br />
            <h3>This page doesn't exist. Onward.</h3>
          </div><br />
          <div class="error-actions">
            <a href="localhost:3000/mentors" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                Take Me Home </a><a href="mailto:troy@tradecrafted.com" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contact TC Eng </a>
          </div>
        </div>
      </div>
    </div>
	</div>
</div>