<div class="errorPage">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="error-template">
          <h1 id="broke">404: Oh snap!</h1><br />
          <img src="http://m.memegen.com/jdt5ab.jpg" alt="404, rawrrr">
          <div class="error-details"><br />
            <h3>This page doesn't exist. Onward.</h3>
          </div><br />
          <div class="error-actions">
            <a href="//tcmentors.herokuapp.com/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                Take Me Home </a><a href="mailto:troy@tradecrafted.com;wen@tradecrafted.com" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contact TC Eng </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{!-- google analytics --}}
<script>
 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

 ga('create', 'UA-63572821-1', 'auto');
 ga('send', 'pageview');

</script>
